.header {
   height: 95vh;
   /* this should be 95 percent of the viewport height */
   /* Using a linear gradient */
   background-image: linear-gradient(to right top,
      rgba($color-primary-light, 0.8600),
      rgba($color-primary-dark, 0.850)),
      url(../img/hero.jpg);
   background-size: cover;
   background-position: top;
   /* top of image will remain the same*/
   position: relative;
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
   clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);/* Using a clip-path */

   @include responsive(phone) {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      /* Using a clip-path */
   }

      &__logo-box {
            /* can use top bottom properties*/
            position: absolute;
            /* Need a relative parent */
            top: 4rem;
            left: 4rem;

            @include responsive(phone) {
                  top: 2rem; 
                  left: 2rem;
            }
      }

      &__logo {
         height: 3.5rem;

            @include responsive(phone) {
                  height: 2.3rem;
            }
      }

      /* Header text styles */
      &__text-box {
         position: absolute;
         top: 40%;
         /* relation to the parent element */
         left: 50%;
         /* shifts relative to the its own element 
         and ont parent element*/
         transform: translate(-50%, -50%);
         text-align: center;

      }
}
